* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 32px;
}
.pokemon-card {
  width: 200px;
  background-color: var(--bg-color);
  border-radius: 16px;
  color: white;
  cursor: pointer;
  padding: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
}
.pokemon-card-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}
.pokemon-card-body {
  margin-top: 12px;
  text-align: center;
}

.types {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.pokemon-type {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 14px;
}
